body {
  background-color: #282c34;
  color: white;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  font-size: calc(16px + 2vmin);
}

.row {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info {
  text-align: left;
  padding: 5px 20px 5px 20px;
  flex: 1;
  font-size: calc(16px - 0vmin);
}

.info-box {
  display: flex;
  border-radius: 20px;
  border: #4444cc 3px solid;
  width: 100%;
}

.action-button {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: calc(16px + 2vmin);
  background-color: #a5a5d4;
  border-radius: 20px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: #4444cc 3px solid;
  border-radius: 20px;
  padding: 5px;
  height: 50vh;
}

.level1 {
  background-color: green;
}

.level2 {
  background-color: orange;
}

.level3 {
  background-color: red;
}

.config-option {
  font-size: calc(16px - 0vmin);
}
