.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-row {
  display: flex;
  width: 100%;
}

button {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: cadetblue;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: #1a00dd 3px solid;
  padding: 5px;
  height: 50vh;
}

.info-box {
  border: #991100 3px solid;
}

.App-link {
  color: #61dafb;
}
