body {
  background-color: #282c34;
  color: white;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  font-size: calc(12px + 2vmin);
}

.row {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: cadetblue;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: #1a00dd 3px solid;
  padding: 5px;
  height: 50vh;
}

.info-box {
  border: #991100 3px solid;
  width: 100%;
}
